*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://image.shutterstock.com/image-vector/medical-concept-hospital-building-doctor-260nw-588196298.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header img{
    width: 10rem;
    margin-top: 23px;
    padding: 0;
}

nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(56, 51, 51, 0.644);
    position:fixed;
    top: 0;
    z-index: 100;
}

nav img{
    width: 150px;
    margin-top: 23px;
}

.nav-links{
    flex: 1;
    text-align:center ;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 19px ;
    
}
.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.nav-links ul li:hover ::after{
    width: 100%;
}

.text-box{
    width: 90% ;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}


.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(233, 153, 48);
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
}


.hero-btn:hover{
    border: 1px solid #1e64e7;
    background: #107186c5;
    transition: 1s;
}


nav .gg-close {
    display: none;
}

nav .gg-menu {
    display: none;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    
    .nav-links ul li{
            display: block;
    }

    .nav-links{
        position: fixed  ;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    
    nav .gg-close{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer ;
    }
    
    nav .gg-menu{
        display: block;
        color: #fff;
        left: 500px;
        margin: 10px;
        font-size: 22px;
        cursor: pointer ;
    }


    .nav-links ul{
        padding: 30px;
    }
}

.counter{
    text-shadow: 0 0 0.7rem;
}
.users{
    font-size: 40px;
}

/* ------ Facilities ------- */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color:darkslategrey;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}


.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}



/* ------- campus --------- */
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px ;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

.campus-col img{
    width: 100%;
    height: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(20, 107, 141, 0.7);

}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: rgb(228, 219, 181);
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}



/* ----- Facilities ------- */

#facilities{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.13),rgba(4, 9, 30, 0.164)),url(images/facility_page.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff3f3;
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
    height: 70%;
}

.facilities-col p{
    padding: 0;
}

.facilities-col h3{
    margin-top: 16px ;
    margin-bottom: 15px;
    text-align: left;
}



/* ------- testimonials ------- */


.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col h3{
   margin-top: 15px ; 
   text-align: left;
}

.testi img{
    padding: 0;
    margin: 0;
    height: 25px;
    width: auto;
    /* color: #f44336 ; */
}

@media(max-width: 700px){
    .testimonial-col img{
        margin-left: 0;
        /* margin-left: 15px; */
    }
}

/* ------------ Call To Action ------------ */

#contact{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.13),rgba(4, 9, 30, 0.164)),url(images/contact_page.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff3f3;
}

.cta h1{
    color: beige;
    margin-bottom: 40px;
    padding: 0;

}

@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}


/* <!-- ------------ Footer ------------ --> */


.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.footer .icon{
    cursor: pointer;
    margin: 0 13px;
    padding: 10px 0;
}



/* ---------------------- Blog page  ------------------------- */

#blog{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.13),rgba(4, 9, 30, 0.164)),url(images/blog_post.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff3f3;
}

.sub-header h1{
    margin-top: 60px;
    font-size: 60px;
    margin-top: 60px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0 1rem gainsboro;
}


.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

.red-btn{
    border:  1px solid #db857f;
    background: transparent;
    color: rgb(147, 150, 146);
} 



/* --------------- Blog-content -------------- */

.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left{
    flex-basis: 65%;
}

.blog-left img{
    width: 100%;
}

.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p{
    color:darkslategray ;
    padding: 0;
    font-size: large;
}

.blog-right{
    flex-basis: 32%;
}

.blog-right h3{
    background: #dfa6a1;
    color: rgb(19, 31, 37);
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
    border-bottom: solid #eeebeb 0.1px;
}

.commentbox{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.commentbox h3{
    text-align: left;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.Button{
    margin: 10px 0;
}

.Button{
    display: inline-block;
    text-decoration: none;
    color:rgb(20, 17, 12);
    border: 1px solid red;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    border-radius: 5px;
}

.Button:hover{
    border: 1px solid red;
    background:rgb(211, 88, 88);
    transition: 1s;
}

@media(max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }

}

/* <!-- ------------  contact Us  ------------ --> */

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;

}

.location iframe{
    width: 100%;
    height: 100vh;
}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div p{
    padding: 0;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    margin-left: 25px;
}

.contact-col div p{
    margin-left: 25px;
}


.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 3px solid #ccc;
    box-sizing: border-box;
}

/* FAQs styling */
#dropdownMenuButton1 {
    display: flex;
    background-color: white;
    color: black;
    border: none;
    border-bottom: solid rgb(209, 209, 209) 0.1px;
}










